<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>

    <!-- LINK FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- LINK BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- LINK VUE.JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./style.css" />

    <!-- LINK JAVASCRIPT -->
    <script type="text/javascript" src="./main.js" defer></script>
  </head>
  <body>
    <div id="root">
      <div class="container-app">
        <div class="row g-0">
          <!--COLONNA SINISTRA ELENCO CHAT -->
          <div class="col-5">
            <!-- PROFILO PERSONALE -->
            <div class="my-profile d-flex justify-content-between px-3">
              <div class="img-container d-flex align-items-center">
                <img src="./img/avatar_io.jpg" alt="foto profilo" />
                <span class="my-name">Thomas</span>
              </div>
              <div
                class="icon d-flex align-items-center justify-content-between"
              >
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <!-- BANNER NOTIFICHE -->
            <div class="notifiche d-flex align-items-center">
              <span
                class="bell d-flex justify-content-center align-items-center ms-3"
              >
                <i class="fa-solid fa-bell-slash"></i>
              </span>
              <div class="text">
                <p class="bold-text">Ricevi notifiche di nuovi messaggi</p>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>

            <!-- BARRA RICERCA -->
            <div class="search">
              <nav class="navbar bg-light">
                <div class="container-fluid w-100">
                  <form class="d-flex w-100" role="search">
                    <button class="btn btn-outline-secondary" type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Cerca o inizia una nuova chat"
                      aria-label="Search"
                    />
                  </form>
                </div>
              </nav>
            </div>
            <!-- lista utenti -->
            <div class="contact-list">
              <div
                class="contact-box py-2 d-flex"
                v-for="(contact, index) in contacts"
                @click="allChat(index)"
              >
                <img :src="'./img/avatar' + (contact.avatar) + '.jpg'" alt="" />
                <div class="contact-text d-flex flex-column px-2">
                  <span>{{contact.name}}</span>
                  <p>Ultimo messaggio inviato</p>
                </div>
              </div>
            </div>
          </div>

          <!-- COLONNA DESTRA -->
          <div class="col-7">
          <div class="open-contact d-flex justify-content-between">
            <div class="contact-open-box py-1">
                <img src="./img/avatar_1.jpg" alt="">
                <span>Michele</span>
            </div>
            <div class="icon-contact d-flex justify-content-between align-items-center">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>

        <!-- area messaggi -->
        <div class="chat w-70 mx-auto d-flex flex-column">

            <div v-for="(message, index) in contacts[activeChat].messages"
                class="mb-3 box-messaggio"
                :class="(message.status == 'sent') ? 'sent' : 'received'"
           >
              {{ message.text }}
         </div>
        

        <!-- SEND A MESSAGE -->
        <footer class="d-flex align-items-center">
            <i class="fa-regular fa-face-smile px-4"></i>
            <input
              class="border-0 rounded-1 h-100 w-100"
              type="text"
              placeholder="Scrivi un messaggio" />
            <i class="fa-solid fa-microphone px-4"></i>
          </footer>
        </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- root -->
    </div>
  </body>
</html>

                