/* container app */
.container-app {
  width: 90%;
  height: 95vh;
  background-image: url(./img/mine.jpg);
  margin: auto;
  margin-top: 1rem;
}

.row {
  height: 100%;
  padding: 0;
}

.col-5 {
  background-color: aliceblue;
  padding: 0;
}

.col-7 {
  padding: 0;
}

/* profile */
.my-profile {
  height: 60px;
  background-color: #eaeaea;
}

img {
  width: 50px;
  border-radius: 50%;
}

.my-profile .icon {
  width: 90px;
}

.my-profile .icon i {
  font-size: 1.2rem;
}

/* BANNER NOTIFICHE */

.notifiche {
  height: 70px;
  background-color: #8edafc;
}

.notifiche .bell {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.4rem;
}

.notifiche .bell i {
  color: #8edafc;
  font-size: 1.3rem;
}

.notifiche .bold-text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.notifiche a {
  font-size: 1rem;
  color: #70a6be;
}

/* lista contatti */
.contact-list .contact-box {
  background-color: #ffffff;
}

.contact-list .contact-box {
  border: 1px solid lightgray;
}

.contact-text p {
  font-size: 0.7rem;
  color: gray;
}

/* contatto aperto */
.open-contact {
  border-left: 1px solid lightgray;
  background-color: #eaeaea;
  height: 60px;
}

.open-contact .icon-contact {
  width: 80px;
  padding-right: 1rem;
}

/* area messaggi */
.chat {
  height: calc(100% - 60px);
  padding-top: 30px;
}

/* CLASSI MESSAGGI */
.box-message {
  height: 40px;
  width: 250px;
  line-height: 40px;
}

.sent {
  background-color: rgb(124, 204, 144);
  margin-left: 50%;
  margin-right: 30px;
}

.received {
  background-color: wheat;
  margin-left: 10%;
}
